概要

  静的なダブル配列によるTrieのJava実装です。これまで原理は（なんとなく）わかっていたダブル配列でしたが、勉強もかねて実装


* 動作環境

  Java実行環境(JRE 1.7 以降)

* 使用方法

  (1) [ダブル配列構築時]

+------------------------------------------------------------------------------------------------------------------------------------------------+
% java -cp ${project.name}-${project.version}.jar com.github.dyamah.sjdat.tools.CLT -b file1 file2
+------------------------------------------------------------------------------------------------------------------------------------------------+

  file1: オプションに続き、Trie をセーブする保存先ファイル

  file2: ダブル配列に登録するキーリストのファイル。このファイルは一行に１キーで改行しているテキストデータ。
  未ソート、重複、空行があるとダブル配列構築時に例外がスローされる。

  (2) [検索時]

+------------------------------------------------------------------------------------------------------------------------------------------------+
% java -cp ${project.name}-${project.version}.jar com.github.dyamah.sjdat.tools.CLT -s file1 file2
+------------------------------------------------------------------------------------------------------------------------------------------------+

  file1: (1)で構築したダブル配列のファイル。

  file2: 検索するキーリスト。書式は(1)と同じ。出力は標準出力

* TODO

  * TAILの圧縮

  * 構築時間の高速化

  * 動的ダブル配列の勉強

* 参考情報

  * {{{http://www.slideshare.net/s5yata/dsirnlp-04s5yata}http://www.slideshare.net/s5yata/dsirnlp-04s5yata}}

  * {{{https://github.com/sile/jada}https://github.com/sile/jada}}

  * {{{http://nanika.osonae.com/DArray/dary.html}http://nanika.osonae.com/DArray/dary.html}}